block variables
  - var title = '食谱列表'
  - var nav = 'recipe'

extends layout_admin

block content
  .page-header
    h1
      span.glyphicon.glyphicon-film
      &nbsp;Recipe Manager

  .well.well-lg
    a.btn.btn-success(href="/recipe/add") + Add
  .panel.panel-primary
    .panel-heading Recipe List 总共条数#{list.length}
    .panel-body
      .table-responsive
        table.table.table-striped.table-hover
          tr
            th(style="width: 15%") Recipe Name
            th(style="width: 15%") Recipe Brief
            th(style="width: 20%") Recipe Guide
            th(style="width: 15%") Recipe Image
            th(style="width: 15%") 操作
          each c in list
            tr
              td #{c.name}
              td #{c.brief}
              td #{c.guide}
              td
                img(src="#{c.imageSrc}")
              td
                a.btn.btn-info(href="/recipe/edit?id=#{c._id}") 编辑
                &nbsp;
                a.btn.btn-danger(href="/recipe/remove?id=#{c._id}") 删除
