block variables
  - var title = '编辑食谱'
  - var nav = 'recipe'


extends layout_admin

block content
  .page-header
    h1
      span.glyphicon.glyphicon-facetime-video
      &nbsp;&nbsp; Edit Recipe
  form.form-horizontal(role="form", method="post", action="/recipe/update")
    .form-group
      label.col-sm-2.control-label Recipe Name
      .col-sm-10
        input.form-control(name="name" type="text",  placeholder="Recipe Name", value="#{obj.name}" required)
    .form-group
      label.col-sm-2.control-label Recipe Brief
      .col-sm-10
        input.form-control(name="brief" type="text", placeholder="Recipe Brief" value="#{obj.brief}" required)
    .form-group
      label.col-sm-2.control-label Recipe Image
      .col-sm-10
        input.form-control(name="imageSrc", type="text" placeholder="http://...." value="#{obj.imageSrc}" required)
    .form-group
      label.col-sm-2.control-label Recipe Guide
      .col-sm-10
        textarea.form-control(name="guide", rows="3" placeholder="Recipe guide"  required) #{obj.guide}
        input(name="id" type="hidden" value="#{obj._id}")
    .form-group
      label.col-sm-2.control-label Recipe Material
      .col-sm-10
        input.form-control(name="material" type="text", placeholder="Recipe Material" value="#{obj.material}" required)
    .form-group
      label.col-sm-2.control-label Recipe Step
      .col-sm-10
        textarea.form-control(name="step", rows="5" placeholder="Recipe Setp" required) #{obj.step}

    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-success(type="submit") Save
        &nbsp;&nbsp;
        a.btn.btn-default(href="/recipes") Cancel
