extends layout_admin

block content
  .page-header
    h1
      span.glyphicon.glyphicon-film
      &nbsp;Taboo Manager

  .well.well-lg
    a.btn.btn-success(href="/taboo/add") + Add
  .panel.panel-primary
    .panel-heading Taboo List 总共条数 #{list.length}
    .panel-body
      .table-responsive
        table.table.table-striped.table-hover
          tr
            th(style="width: 15%") Taboo Title
            th(style="width: 15%") Taboo Items
            th(style="width: 15%") Taboo Image
            th(style="width: 40%") Taboo Reason
            th(style="width: 15%") 操作
          each c in list
            tr
              td #{c.title}
              td #{c.items}
              td
                img(class="img-circle" src="#{c.imageSrc}" style="width: 150px")
              td #{c.reason}
              td
                a.btn.btn-info(href="/taboo/edit?id=#{c._id}") 编辑
                &nbsp;
                a.btn.btn-danger(href="/taboo/remove?id=#{c._id}") 删除
